body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}
input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #4c8829;
    border-radius: 10px;
    margin-bottom: 4px;
}

button{
    background: #5f9341;
    color: white;
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 5px;
    font-weight: bold;
}

#delete-btn{
    background: white;
    color: #5f9341;
}

a{
    text-decoration: none;
    color: rgb(14, 50, 212);
    font-size: 15px;
}